[core]
    autocrlf = input
    ignorecase = false
    quotepath = false
    pager=LC_ALL=ja_JP.UTF-8 less -Sx4

[alias]
    st = status -u
    sts = status -u --short
    ci = commit
    log1 = log --oneline
    br = branch
    brl = for-each-ref refs/heads --sort=-committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    brr = for-each-ref refs/remotes/origin --sort=-committerdate --format='%(color:yellow)%(refname:lstrip=3)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    df = diff
    dfs = diff --stat
    dfc = diff --cached
    dfcs = diff --stat --cached
    dfsc = diff --stat --cached
    dfw = diff --color-words='\\w+|[^[:space:]]'
    co = checkout
    cp = cherry-pick
    logg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%Y-%m-%d %H:%M'
    loga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%Y-%m-%d %H:%M'
    cob = !"git brl | fzf | awk '{print $1}' | xargs git checkout"
    cobr = !"git brr | fzf | awk '{print $1}' | xargs git checkout"
    push1 = !"git rev-parse --abbrev-ref HEAD | xargs git push -u origin"
    addf = !"git status -s | awk '{print $2}' | fzf -m | xargs git add"
    alias = !"git config -l | grep '^alias' | sort"

[include]
    path = .gitconfig.os
    path = .gitconfig.user
    path = .gitconfig.local
[hub]
	protocol = git
