[core]
    autocrlf = input
    ignorecase = false
    excludesfile = $HOME/.gitignore

[alias]
    st = status
    sts = status --short
    ci = commit
    log1 = log --oneline
    br = branch
    df = diff
    dc = diff --cached
    co = checkout
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[include]
    path = .gitconfig.os
    path = .gitconfig.user
    path = .gitconfig.local
